

name: Cyber-ai CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME}}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME}}/cyber-ai:${{ github.sha }}
# DOCKER_HUB_ACCESS_TOKEN DOCKER_HUB_USERNAME add in github secrets in github repository settings action section and chek ci/ cd work properly